body{cursor:default;background:#f1f1f1;color:#fff;text-shadow:#6a6a6a 1px 1px 2px;padding:35px 0;font-family:Roboto, sans-serif;font-weight:bold;font-size:19px}
a,
a:hover,
a:focus{cursor:pointer;color:#fff}
ul{margin-bottom:0}
abbr{border:none !important}
.main-block{background:#dbdbdb;border:1px solid #c3c3c3;border-left:none;border-right:none;margin:0 auto;width:50%;height:220px;padding:40px;-webkit-border-top-left-radius: 15px;-moz-border-radius-topleft: 15px;border-top-left-radius: 15px;-webkit-border-bottom-right-radius: 15px;-moz-border-radius-bottomright: 15px;border-bottom-right-radius: 15px}
.info{float:left;width:62%}
.links{float:right;width:33%;line-height:38px;text-align:center;margin-top:-6px}
.links li{margin:0 6px}
.links li a:hover{color:#efefef}
.contact-block{position:fixed;left:0;right:0;bottom:0;margin-bottom:20px;text-align:center;font-size:13px}
.contact-block span{text-shadow:none;background:#fff;padding:5px}
.contact-block span,
.contact-block a{color:#999}
@media screen and (max-width:700px){
body{padding:0}
.main-block{width:100%;height:100%;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.info,
.links{width:100%}
.links{margin-top:32px}
}
